# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database

# Recommended for most uses
POSTGRES_URL=

# For uses requiring a connection without pgbouncer
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-cold-silence-anagz9zc-pooler.c-6.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=npg_0NCyfIJ1GMpi
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:npg_0NCyfIJ1GMpi@ep-cold-silence-anagz9zc-pooler.c-6.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:npg_0NCyfIJ1GMpi@ep-cold-silence-anagz9zc-pooler.c-6.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require

# `openssl rand -base64 32`
AUTH_SECRET=
AUTH_URL=http://localhost:3000/api/auth